body {
    font-family: "Times New Roman", sans-serif;
background-color: #f5deb3;
    color: #333;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
background-image: url('bg4.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.flavor-text {
    text-align: center;
    font-size: 1.3em;
    color: #555;
    margin-bottom: 20px;
    margin-right: 80px;
  margin-left: 80px;
    padding: 20px;
}

.hidden {
    display: none;
}

#questions {
    margin-bottom: 20px;
        color: #000000;
}

.question {
    margin-bottom: 10px;

}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #286493;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #FF06b3;
}
